.container {
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
  display: flex;
  background-color: var(--bg);
  color: var(--text);
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
